body, html {
    margin: 0;
    padding: 0;
}

.wrap {
    position: relative;
    background-size: cover;
    background-image:
        linear-gradient(to right, #222 0%, #222 15%, transparent 200%),
        url('forest.jpg');
    overflow: hidden;
}

#gl {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.person {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 65vh;
    display: flex;
    justify-content: center;
}
